Importing libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer

Data Collection & pre-processing

In [3]:
#load data
mail_data = pd.read_csv('/content/mail_data.csv')

In [5]:
#replace null values
mail_data = mail_data.where((pd.notnull(mail_data)),'')

In [6]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
mail_data.shape

(5572, 2)

In [9]:
mail_data.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [11]:
#label spam as 0 and ham as 1
mail_data.loc[mail_data['Category'] == 'spam','Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham','Category',] = 1

In [12]:
#separate data and label
X = mail_data['Message']
Y = mail_data['Category']

In [13]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [14]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Train Test Split

In [15]:
#Split 

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state=3,test_size=0.2,stratify=Y)
print(X.shape,X_train.shape,X_test.shape)

(5572,) (4457,) (1115,)

Feature Extraction

In [16]:
vect = TfidfVectorizer(min_df = 1,stop_words='english',lowercase=True)#min_df - ingnore if score is less than 1

In [20]:
X_train_features = vect.fit_transform(X_train)
X_test_features = vect.transform(X_test)

In [21]:
#Converting Y as type int
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

Model Training

In [22]:
model = LogisticRegression()

In [23]:
model.fit(X_train_features,Y_train)

LogisticRegression()

Model Evaluation

In [24]:
#accuracy on train data
train_pred = model.predict(X_train_features)
tr_acc = accuracy_score(train_pred,Y_train)
print("Training Accuracy : ",tr_acc)

Training Accuracy :  0.9670181736594121

In [25]:
#accuracy on test data
test_pred = model.predict(X_test_features)
t_acc = accuracy_score(test_pred,Y_test)
print("Training Accuracy : ",t_acc)

Training Accuracy :  0.9721973094170404

Predictive Model

In [32]:
from sklearn import feature_extraction
input_data = ["WINNER!! You have won 1 million dollars in lottery! To claim call 09061701461. Claim code KL341. Valid 12 hours only"]
#ham,Even my brother is not like to speak with me. They treat me like aids patent.
#ham,As per your request 'Melle Melle (Oru Minnaminunginte Nurungu Vettam)' has been set as your callertune for all Callers. Press *9 to copy your friends Callertune
#spam,WINNER!! As a valued network customer you have been selected to receivea £900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.
#spam,Had your mobile 11 months or more? U R entitled to Update to the latest colour mobiles with camera for Free! Call The Mobile Update Co FREE on 08002986030

#convert into feature vector
input_fea = vect.transform(input_data)

#prediction
pred = model.predict(input_fea)
if(pred[0] == 0):
  print("SPAM Mail :(")
else:
  print("Ham Mail :)")

SPAM Mail :(